body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(52, 214, 226);
    /* background-image: linear-gradient(to rigth, #34d6e2 50%, black 50%); */
    color: white;
}

.content {
    text-align: center;
}

a {
    text-decoration: none;
    border: 1px, black, solid;
    padding: 12px 48px;
    border-radius: 24;
}

.subtitle  {
    margin-top: 50px;
}

.tittle {
    margin-bottom: 50px;
}